<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>FORM</title>
    </head>
    <body>

        <h1>Welcome to the commenting web app</h1>

        <h2>If you don't have an account register here:</h2>
        <form action="#" th:action="@{/signup}" method="POST">
            <p><label for="name">Username</label>: <input type="text" name="name" id="name"/></p>
            <p><label for="password">Password</label>: <input type="password" name="password" id="password"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>

        <h2>If you have an account login here:</h2>
        <form action="#" th:action="@{/login}" method="POST">
            <p><label for="name">Username</label>: <input type="text" name="name" id="name"/></p>
            <p><label for="password">password</label>: <input type="password" name="password" id="password"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>


        <p></p>
    </body>
</html>
