<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Main</title>
    </head>
    <body>

        <h1>You've logged in, now you can write a comment!</h1>

        <li><a th:href="@{/profile}">your profile!</a></li>
         <li><a th:href="@{/logout}">Log out</a></li>

        <form action="#" th:action="@{/comment}" method="POST">
            <p><label for="comment">Comment here</label>: <input type="text" name="comment" id="comment"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>
        <p></p>

        <h3>Here are some comments other users have written:</h3>
        <ul>
            <li th:each="comment : ${comments}">
                <span th:utext="${comment.username}">username</span> <span th:utext="${comment.comment}">999</span>
            </li>
        </ul>


    </body>
</html>
