<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>User Comments</title>
    </head>
    <body>

        <h1>Here are your comments!</h1>


        <table>
            <thead>
                <tr>
                    <th>Username</th><th>Comment</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="comment : ${comments}">
                    <td th:utext="${comment.comment}">Comment</td>
                    <td th:utext="${comment.username}">username</td>
                    <td><form th:action="@{/comments/{id}(id=${comment.id})}" th:method="delete"><input type="submit" value="Delete"/></form></td>
                </tr>
            </tbody>
        </table>
        <li><a th:href="@{/delete}">DELETE ACCOUNT</a></li>
        <li><a th:href="@{/main}">Main page</a></li>
        <li><a th:href="@{/logout}">Log out</a></li>
    </body>
</html>

